:root {
  --chart-one: rgb(63, 81, 181);
  --chart-two: rgb(255, 87, 34);
  --chart-three: rgb(0, 150, 136);
  --chart-five: rgb(33, 150, 243);
  --chart-six: rgb(244, 67, 54);
  --chart-seven: rgb(96, 125, 139);
  --chart-eight: rgb(255, 193, 7);
  --chart-nine: rgb(156, 39, 176);
  --chart-ten: rgb(0, 188, 212);
}
